/************************** ELEMENT ************************/
body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    text-align: left;
}

h2 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-weight: 900;
}

p {
    color: #8f8f8f;
}

li {
    margin-bottom: 0.5rem;
}

/*************************** CLASS ************************/
.container-fluid {
    padding: 3% 15% 7%;

}

.col-md-6 {
    padding: 0;
}

.col-iphone {
    text-align: right;
    height: 250px;
}

.download-buttom {
    margin: 5% 3% 5% 0%;
}

.navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover {
    color: #ff4c68;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.card-title {
    text-align: center;
}

.display-4 {
    margin-bottom: 2rem;
}

.card-mastiff {
    border-color: #ef8172;
}

.card-mastiff-header {
    background-color: #ef8172;
    color: #ef8172;
    color: white;
}

.col {
    padding: 0 12px;
}

/***************************** ID *************************/
#apple-icon {
    width: 16px;
    fill: none;
}

#iphone-mockup {
    position: relative;
    right: 30%;
    rotate: 25deg;
    width: 60%;

}

#title {
    background-color: #ff4c68;
    color: white;
}

#features {
    position: relative;
    padding: 7% 15%;
    background-color: white;

}


#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

#pricing {
    padding: 15% 7%;
    text-align: center;
    line-height: 1.5;
}

#button-chihuahua {
    color: #ef8172;
    border-color: #ef8172;

}

#button-chihuahua:hover {
    background-color: #ff4c68;
    color: white;
}

#button-labrador {
    color: white;
    border-color: #ef8172;
    background-color: #ef8172;

}

#button-labrador:hover {
    background-color: #ff4c68;
    color: white;
}

#button-mastiff {
    color: white;
    border-color: #ef8172;
    background-color: #ef8172;

}

#button-mastiff:hover {
    background-color: #ff4c68;
    color: white;
}